<a href="https://colab.research.google.com/github/a-forty-two/QAPyJuly22/blob/main/DataStructures_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# ENSURE-> AUTOMATION 
# write instruction one after the other-> REPL
# Read Edit Print Loop 

# Uses of automation-> 
# AI, robots, OS, FILE, uploads and downloads!
# MOVIE, SONG, Scanning a fingerprint!

In [2]:
# Computers-> a lot of diff types of data
# numbers, char, floating

In [3]:
a=1
print("%d", a)

%d 1

In [6]:
print("Hello \n World")

Hello
 World

In [7]:
print("Hello\tWorld\nByeBye")

Hello	World
ByeBye

In [10]:
a = "John"
b = "Smith"

print("Hello {}".format(b))

# STRING IS ALSO FOR AUTOMATION!

Hello Smith

In [11]:
print("Hello {},{}".format(b, a))

Hello Smith,John

In [12]:
print("Hello {},{}\nHow are you?".format(b, a))

Hello Smith,John
How are you?

In [13]:
# special characters-> \n \t -> hold a special meaning 
# {} -> to replace and format your string

In [14]:
print("Hello {lname},{fname}\nHow are you?".format(fname=a, lname=b))

Hello Smith,John
How are you?

In [15]:
2+3

5

In [16]:
'hello world'

'hello world'

In [20]:
a=1
b=2
print(f'one plus one is {a+b}')
# f in the beginning of the string-> also results in formatting

one plus one is 3

In [22]:
# MULTIPLE VALUES
# messages to 3 people 
# multiple values-> LIST - is represented by [ ]
names = [ "John Smith", "Jane Smith", "Pikachu" ]
# in programming-> counting starts from 0 and not 1
print(names[0])

John Smith

In [23]:
print(names[1])

Jane Smith

In [24]:
print(names[2])

Pikachu

In [26]:
# Example-> names[3] should NOT work because there are NO such elements!
print(names[3])
# ERORR EXPECTED

# WHENEVER your error - list index out of range
# INDEX is this 0,1,2 position that we just checked out
# this error means you are trying to refer to a POSITION at which NO ELEMENT exists!

IndexError: ignored

In [27]:
# POSITIVE (and 0) numbers are counted from left to right
# NEGATIVE numbers-> counted from right to left
print(names[-1])

Pikachu

In [28]:
print(names[-3])

John Smith

In [29]:
print(names[-4])

IndexError: ignored

In [30]:
# CONDITION -> if (CONDITION )-> what to do, else -> what to do
a = 1
b = 2
if(a<b):
  print("hello world")
else:
  print("bye bye world")
# PYTHON has a BIG PROBLEM with spaces!
# recommend-> use TAB instead of spaces
# if the space is inconsistent then also we get errors!

hello world

In [31]:
# error demo
a = 1
b = 2
if(a<b):
print("hello world")
else:
print("bye bye world")
# indentation -> SPACE to LEAVE from left side!
# whenever we get INDENTATION ERROR-> look for code blocks like IF and ELSE statements!

IndentationError: ignored

In [32]:
# Collections -> group of elements together
# 1) LIST = [ ]
mylist = [ 1, 2, False, True, "Blah Blah"]
# INDEXED COLLECTION
print(mylist[1])
# 1 at the beginning, and "Blah Blah" in the end-> this ORDER is NEVER going to change 
# ORDERED COLLECTION

2

In [50]:
mylist.append("I am here") # APPENDING inserts elements 
mylist

[1, 2, False, True, 'Blah Blah', 'I am here']

In [33]:
otherlist = [mylist, 1, 2]
otherlist
# Lists can be inside other lists!

[[1, 2, False, True, 'Blah Blah'], 1, 2]

In [35]:
# otherlist[0] -> would point to the first list, and we can place [ more_indexes ]
otherlist[0][2]
# If we have a LIst inside a list, just place more square brackets!

False

In [36]:
thirdlist = [mylist, otherlist]
thirdlist

[[1, 2, False, True, 'Blah Blah'], [[1, 2, False, True, 'Blah Blah'], 1, 2]]

In [41]:
thirdlist[1][0][-1]

'Blah Blah'

In [48]:
# MATH-> set theory-> union, intersection, venn diagrams
# a = {apple, banana}, b = {banana, apple}
# same sets or diff?
# c  = {apple, apple, banana, apple}, d = {apple, banana}
# same sets or diff?
# SET THEORY-> repeating elements are counted only once!
# Python-> sets are represented with { }
myset = { 'apple', 1, 2, 1 , 2, False, 3.14, 42, 'banana'}
print(myset)
# UNORDERED, UNINDEXED
# use-case: To store unique elements!

{False, 1, 2, 3.14, 'apple', 42, 'banana'}

In [45]:
myset[1] # should this work?
# DOes not work because there are NO INDEXES!

TypeError: ignored

In [49]:
# Tuple
# represented = ( )
mytuple = (1,2,3)
# I CANNOT MAKE ANY CHANGES TO THIS ANYMORE!
mytuple

(1, 2, 3)

In [51]:
mytuple.append(42) # Since tuple is READ-ONLY this SHOULD NOT WORK!

AttributeError: ignored

In [52]:
# If we have NO idea what are the function names inside- then the way to find out
# dir(object)
dir(mytuple)
# this should show ALL possible actions we can take on tuple

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [54]:
mytuple.count(1)

1

In [55]:
dir(mylist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [56]:
dir(myset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']